<style>
  .banner-promocional {
    position: relative;
  }

  .texto-destacado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .texto-destacado h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .texto-destacado p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  /* Estilos opcionales para la imagen */
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
</style>